@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav ml-auto">

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mijn account</a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    @Html.ActionLink("Account instellingen", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Uitloggen</a>
                </div>
            </li>
    }
}
else
{
    <li>@Html.ActionLink("Registreren", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Inloggen", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}

</ul>
