@{
    ViewBag.Title = "Contact IKWZ";
}
<div class="container content">
    <div class="heading text-center">Contact opnemen</div> <br />
    <p class="text-center" style="font-size:18px">
        Voor meer info kunt u contact opnemen met de projectleiders.<br><br>
    </p>
    <div class="row">
        <div class="col-6 text-center">
            <div class="content-icon" style="color: #B80E80; font-size: 48px;"><i class="fas fa-user-circle"></i></div>
            <strong>Henk Abels</strong><br>
            06-15066973<br>
            henk@ikwz.nl<br><br>
        </div>
        <div class="col-6 text-center">
            <div class="content-icon" style="color: #B80E80; font-size: 48px;"><i class="fas fa-user-circle"></i></div>
            <strong>Jeroen Ottink</strong><br>
            06-45626663<br>
            jeroen@ikwz.nl

        </div>
    </div>
</div>