@model List<Ikkanwelzijn.Models.activiteiten>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}



<div class="row" id="columns">
    @foreach (var item in Model)
    {
        <div class="columtest">
            <div>
                <div class="col-sm-4 col-centered">
                    <div class="colom-1">
                        <div class="img-boeket1">
                            <span class="et_pb_image_wrap">
                                

                            </span>
                        </div>

                        <div class="type-titel">
                            <div class="et_pb_text_inner">
                                <h4>@item.activiteitnaam</h4>
                            </div>
                        </div>

                        <div class="omschrijving-boeket">
                            <div class="type-boeket-omschrijving">
                                <p style="text-align: center;">
                                      
                                </p>
                            </div>
                        </div>

                        <div>
                            <div class="boeket-prijs">
                                <p style="text-align: center;">
                                    € @item.activiteitdatum
                                </p>

                            </div>
                        </div>
                        <div>
                            <div class="boeket-prijs">
                                <p style="text-align: center;">
                                    € @item.activiteitplaats
                                </p>

                            </div>
                        </div>
                       

                        
                    </div>

                </div>

            </div>

        </div>
    }

</div>

<div class="container content">
    <div class="heading text-center">Over ons</div>

    <div class="row">
        <div class="col-6">
            <p style="font-size:18px">
                Noabers van verenigingen zetten zich in voor zorgbehoevenden/ mantelzorgers via IkkanWelzijn. <br />

                Als gevolg van de toenemende vergrijzing, de bezuinigingen op zorguitgaven, het (dreigende) capaciteitsgebrek onder zorgpersoneel en overbelaste mantelzorgers, zijn steeds minder mensen in staat “welzijn” te ervaren. <br /> <br />

                De vraag naar zinvolle en passende (recreatieve) activiteiten neemt bij zorgbehoevenden, mantelzorgers, gezinnen en zorginstellingen alleen maar toe. <br /> <br />

                IkkanWelzijn is een platform met een unieke samenwerking tussen zorginstellingen, cultuur-natuurinstellingen, verenigingen, gemeenten en onderwijsinstellingen in Noordoost- Twente. Zorgbehoevenden en mantelzorgers kunnen genieten van ontspanning met betaalbare cultuur- en natuuractiviteiten, uitstapjes, sport- en bewegingsmogelijkheden. <br /> <br />

                Alle activiteiten worden begeleid door fanatieke leden uit het lokale verenigingsleven. De eigen vereniging profiteert van maatschappelijke inzet en het “verdienen” van kasgeld voor de club. Daarnaast zetten studenten van onderwijsinstellingen zich samen met zorgmedewerkers
                in voor IkkanWelzijn. De expertise van het onderwijs wordt o.a. gebruikt om de wensen en behoeften van de cliënten te onderzoeken en de studenten in te zetten bij de activiteiten. <br /> <br />

                Het platform IkkanWelzijn biedt op maat gemaakte arrangementen voor zorgbehoevende vakantiegangers en voor bewoners uit de regio. Zorgeloos genieten in Twente! Dat gunnen we toch iedereen! <br /> <br />
            </p>
        </div>

        <div class="col-6">
            <iframe class="embed-responsive" height="315" src="https://www.youtube.com/embed/h-wVG_Ep350" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="heading text-center">Partners</div>
    
        <div class="col-6 mx-auto">
            <img class="img-fluid" src="~/ikwz/assets/images/logos.png" />
        </div>
    
</div>



