@model List<Ikkanwelzijn.Models.activiteiten>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}



<div class="row" id="columns">
    @foreach (var item in Model)
    {
        <div class="columtest">
            <div>
                <div class="col-sm-4 col-centered">
                    <div class="colom-1">
                        <div class="img-boeket1">
                            <span class="et_pb_image_wrap">
                                

                            </span>
                        </div>

                        <div class="type-titel">
                            <div class="et_pb_text_inner">
                                <h4>@item.activiteitnaam</h4>
                            </div>
                        </div>

                        <div class="omschrijving-boeket">
                            <div class="type-boeket-omschrijving">
                                <p style="text-align: center;">
                                      
                                </p>
                            </div>
                        </div>

                        <div>
                            <div class="boeket-prijs">
                                <p style="text-align: center;">
                                    € @item.activiteitdatum
                                </p>

                            </div>
                        </div>
                        <div>
                            <div class="boeket-prijs">
                                <p style="text-align: center;">
                                    € @item.activiteitplaats
                                </p>

                            </div>
                        </div>
                       

                        
                    </div>

                </div>

            </div>

        </div>
    }

</div>

<div class="container content">
    <div class="heading text-center">Waarom IKWZ?</div>
    <div class="row">
        <div class="col-4 text-center">
            <div class="content-icon"><i class="fas fa-heartbeat fa-4x"></i></div>
            <div class="content-title">Monitoring</div>
            <div class="content-text">Tekst hier.</div>
        </div>
        <div class="col-4 text-center">
            <div class="content-icon"><i class="fas fa-universal-access fa-4x"></i></div>
            <div class="content-title">Live toegang</div>
            <div class="content-text">Tekst hier.</div>
        </div>
        <div class="col-4 text-center">
            <div class="content-icon"><i class="fas fa-headset fa-4x"></i></div>
            <div class="content-title">Support</div>
            <div class="content-text">Tekst hier.</div>
        </div>
    </div>
</div>



